<!--<div class="login_div">
    <img src="../../../../assets/logo-original-copy.png" class="Logo-Original-Copy">
        <form class="login_form" action="#">
            <img src="../../../../assets/icon-users.svg">
            <input type="text" class="Line-2" readonly>
            <img src="../../../../assets/candado.svg">
            <input type="password" class="Line-2" readonly>
            <button class="Rectangle-Copy-6">Log in</button>
            <p class="Forgot-password">Forgot password?</p>
        </form>
    </div>-->

    <div class="login-box">
        <img src="../../../../assets/logo-original-copy.png"
     srcset="./../../../assets/logo-original-copy@2x.png 2x,
     ./../../../assets/logo-original-copy@3x.png 3x" class="logo">
     <img src="../../../../assets/icon-users.svg"
            class="iconusers">
        <form >
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
          </div>
          <img src="../../../../assets/candado.svg"
            class="iconusers">
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
          </div>
          <button (click)="performe()" class="button Log-in" >Login</button>
          <p class="text-center">Forgot Password?</p>
        </form>
      </div>